/*
 *
 * TOP Level
 *
 */
*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #384047;
	background-color: #dedede;
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none;
}

.center {
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
}

.wrapper {
	width: 980px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

.nav {
	height: 50px;
	line-height: 50px;
	background: #22242d;
}

.nav a {
	color: #fff;
	padding-left: 10px;
}

.alert {
	color: #fff;
	border-radius: 4px;
	padding: 17px;
	width: 500px;
	text-align: center;
	margin: 0 auto;
}

.alert.info {
	background-color: #3199dc;
}

.alert.warning {
	background-color: #f39d09;
}

.alert.error {
	background-color: #e84b3a;
}

.alert.success {
	background-color: #11bd9d;
}


